@charset "UTF-8";

body {



        // <!-- ================2,video================ -->
        main {
            .videoBGWrapper {
                position: relative;
                overflow: hidden;
                z-index: -100;
                width: 100%;
                padding-top: calc(100% / 16 * 9);
                background-color: black;

                video {
                    position: absolute;
                    // height: 100%;
                    width: 100%;
                    top: 0%;
                    left: 0%;
                }
            }

            @media (min-aspect-ratio: 16/9) {
                .videoBg {
                    width: 100%;
                    height: auto;
                }
            }

            @media (max-aspect-ratio: 16/9) {
                .videoBg {
                    width: auto;
                    height: 100%;
                }

        }

        //  ================4,menu================

        .menu_select {
            margin: 0, auto;

            ul {
                li {
                    position: relative;
                    overflow: hidden;
                    width: 100%;
                    height: 100%;

                    a {
                        width: 100%;

                        img {
                            position: relative;
                            width: 100%;
                        }

                        span {
                            display: inline-block;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);

                            letter-spacing: 0.1em;
                            -webkit-text-fill-color: transparent;
                            -webkit-text-stroke-width: 3px;
                            -webkit-text-stroke-color: white;
                            text-shadow: 8px 8px #ff1f8f, 20px 20px #000000;
                            font-family: "Anton", sans-serif;
                            font-size: 20rem;
                        

                            color: rgba(250, 250, 250, 0.8);

                    

                            white-space: nowrap;
                            display: block;
                            transition: 0.5s;
                            color: yellow;

                        

                            a {
                                width: 100%;
                                overflow: hidden;

                                img {
                                    position: relative;
                                    overflow: hidden;
                                    font-size: 100px;
                                    width: 100%;
                                    transition: 0.5s;
                                    vertical-align: top;
                                }
                            }
                        }
                    
                        
                        :hover {
                            font-style: italic;
                            text-shadow: 10px 10px 80px rgba(255, 96, 255, 1);
                        }

                
                    }
                }
            }
        }
    }

    @media (max-width:1024px) {
        // <!-- ================2,video================ -->
        main {
          .videoBGWrapper {
              position: relative;
              overflow: hidden;
              z-index: -100;
              width: 100%;
              padding-top: calc(100% / 16 * 9);
              background-color: black;
  
              video {
                  position: absolute;
                  // height: 100%;
                  width: 100%;
                  top: 0%;
                  left: 0%;
              }
          }
  
          @media (min-aspect-ratio: 16/9) {
              .videoBg {
                  width: 100%;
                  height: auto;
              }
          }
  
          @media (max-aspect-ratio: 16/9) {
              .videoBg {
                  width: auto;
                  height: 100%;
              }
  
      }
  
      //  ================4,menu================
  
      .menu_select {
          margin: 0, auto;
  
          ul {
              li {
                  position: relative;
                  overflow: hidden;
                  width: 100%;
                  height: 100%;
  
                  a {
                      width: 100%;
  
                      img {
                          position: relative;
                          width: 100%;
                      }
  
                      span {
                          display: inline-block;
                          position: absolute;
                          top: 50%;
                          left: 50%;
                          transform: translate(-50%, -50%);
  
                          letter-spacing: 0.1em;
                          -webkit-text-fill-color: transparent;
                          -webkit-text-stroke-width: 3px;
                          -webkit-text-stroke-color: rgb(255, 255, 255);
                          text-shadow: 8px 8px #ff1f8f, 20px 20px #000000;
                          font-family: "Anton", sans-serif;
                          font-size: 8rem;
                      
  
                          color: rgba(250, 250, 250, 0.8);
  
                  
  
                          
  
                          a {
                              width: 100%;
                              overflow: hidden;
  
                              img {
                                  position: relative;
                                  overflow: hidden;
                                  font-size: 100px;
                                  width: 100%;
                                  transition: 0.5s;
                                  vertical-align: top;
                              }
                          }
                      }
                  
                  }
              }
          }
      }
  }

@media (max-width:480px) {

        // <!-- ================2,video================ -->
        
        main {
            .videoBGWrapper {
                position: relative;
                overflow: hidden;
                z-index: -100;
                width: 100%;
                padding-top: calc(100% / 16 * 9);
                background-color: black;

                video {
                    position: absolute;
                    // height: 100%;
                    width: 100%;
                    top: 0%;
                    left: 0%;
                }
            }

            @media (min-aspect-ratio: 16/9) {
                .videoBg {
                    width: 100%;
                    height: auto;
                }
            }

            @media (max-aspect-ratio: 16/9) {
                .videoBg {
                    width: auto;
                    height: 100%;
                }

        }

        //  ================4,menu================

        .menu_select {
            margin: 0, auto;

            ul {
                li {
                    position: relative;
                    overflow: hidden;
                    width: 100%;
                    height: 100%;

                    a {
                        width: 100%;

                        img {
                            position: relative;
                            width: 100%;
                        }

                        span {
                            display: inline-block;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);

                            letter-spacing: 0.1em;
                            -webkit-text-fill-color: transparent;
                            -webkit-text-stroke-width: 3px;
                            -webkit-text-stroke-color: rgb(255, 255, 255);
                            text-shadow: 8px 8px #ff1f8f, 20px 20px #000000;
                            font-family: "Anton", sans-serif;
                            font-size: 3rem;
                        

                            color: rgba(250, 250, 250, 0.8);

                    

                            white-space: nowrap;
                            display: block;
                            transition: 0.5s;
                            color: yellow;

                        

                            a {
                                width: 100%;
                                overflow: hidden;

                                img {
                                    position: relative;
                                    overflow: hidden;
                                    font-size: 100px;
                                    width: 100%;
                                    transition: 0.5s;
                                    vertical-align: top;
                                }
                            }
                        }
                    
                        
                        :hover {
                            // font-style: italic;
                            // text-shadow: 10px 10px 80px rgba(255, 96, 255, 1);
                        }

                
                    }
                }
            }
        }
    }




}




}


}